# Xcode

!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.playground
*.xccheckout
*.xcuserstate
DerivedData
build/
xcuserdata

# Podest

*/config.json
*/products.json
.env
Podest/Configuration/DeveloperSettings.xcconfig

# Fastlane

fastlane/metadata/review_information/email_address.txt
fastlane/metadata/review_information/phone_number.txt

fastlane/metadata/trade_representative_contact_information/address_line1.txt
fastlane/metadata/trade_representative_contact_information/city_name.txt
fastlane/metadata/trade_representative_contact_information/email_address.txt
fastlane/metadata/trade_representative_contact_information/phone_number.txt
fastlane/metadata/trade_representative_contact_information/postal_code.txt
fastlane/metadata/trade_representative_contact_information/trade_name.txt

fastlane/Preview.html
fastlane/Snapfile
fastlane/report.xml
fastlane/screenshots
